html, body {
    height: 100%;
    background: white;
    margin: 0;
    padding: 0;
}

#canvas {
    width: 100%;
    aspect-ratio: 2;
    background: black;
}

#fps {
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
}